/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan_0 {
        compatible = "zmk,matrix-transform";
        label = "KSCAN";
        diode-direction = "col2row";

        columns<10>;
        rows<4>;
        
        map = <
        RC(6,2)  RC(6,3)  RC(6,19)  RC(6,18)  RC(6,15)  RC(6,14)  RC(6,16)  RC(6,9)  RC(6,8) RC(6,5)
        RC(21,2) RC(21,3) RC(21,19) RC(21,18) RC(21,15) RC(21,14) RC(21,16) RC(21,9) RC(21,8)
                 RC(20,3) RC(20,19) RC(20,18) RC(20,15) RC(20,14) RC(20,16) RC(20,9) RC(20,8)
                          RC(7,19)  RC(7,18)  RC(7,15)            RC(7,16)  RC(7,9)
        >;
        
    };
};
