/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT  0
#define RAISE    1
#define LOWER    2
#define BOTH     3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q      &kp W       &kp E      &kp R        &kp T      &kp Y     &kp U        &kp I     &kp O     &kp P
    &kp A      &kp S       &kp D      &kp F        &kp G      &kp H     &kp J        &kp K     &kp L
    &kp Z      &kp X       &kp C      &kp V        &kp B      &kp N     &kp M        &kp DOT
    &kp LSHIFT &mo LOWER   &kp SPACE  &mo RAISE    &kp ENTER
            >;
        };

    };
};